.outer-box {
  position: absolute;
  border: 5px solid blue;
  width: 500px;
  height: 500px;
}
.inner-box {
  position: relative;
  left: 100px;
  top: 100px;
  /*border: 1px solid red;*/
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-image: url("puppy-icon.png");
  background-size: 100%;
  padding: 0;
  margin: 0;
}
